.navbar-custom {
    background-color: #6200EE;
}

.navbar-nav > .active > a {
    color: #BB86FC;
}
h1 {
    font-family: serif;
    margin-left: 5%;

    color: black;

}


.headl {

    display: flex;
    justify-content: space-around;


}


#carouselExampleDark {
    position: sticky;
    background-color: rgba(3, 93, 147, 0.07);

}

.speech {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(3, 93, 147, 0.07);
}