
#gmaps {
    background-color: ghostwhite;
}

.navbar-custom {
    background-color: #6200EE;
}

.navbar-nav > .active > a {
    color: #BB86FC;
}

#map {
    height: 500px;
    width: auto;

    margin-left: 24px;
    margin-right: 24px;

     }


#map1 {
    height: 200px;
    width: auto;
}

#map2 {
    height: 200px;
    width: auto;
}

#map3 {
    height: 200px;
    width: auto;
}

#filterNew {
    position: relative;
    height: auto;
    width: auto;
    background-color: ghostwhite;
    font-size: 16px;
    /*border: 2px solid black*/;
    /*box-shadow: 20px 20px 20px grey*/;


}

.btn-outline-primary{
    border-bottom-color: #BB86FC;
    color: #BB86FC;
}