<!DOCTYPE html>
<html lang="en" xmlns:text-align="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>About - Regiotamus</title>
    <script type="module" th:src="@{/js/franchise.js}"></script>
    <link rel="stylesheet" type="text/css" href="/css/franchise.css"/>


    <script src="jquery-2.1.4.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/loading.css"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

</head>

<body id="about">



<nav class="navbar navbar-expand-sm navbar-custom">
    <div class="container">
        <a class="navbar-brand fs-1" href="index"><font color=#f5f5f5>Regiotamus</font></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="index"> <font color=#f5f5f5>Home</font></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link " href="map"><font color=#f5f5f5>Map</font></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="franchise"><font color=#f5f5f5>Franchise</font></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="history"><font color=#f5f5f5>History</font></a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="about">About</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <font color=#f5f5f5>Account</font>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="register">Sign Up</a></li>
                        <li><a class="dropdown-item" href="login">Sign In</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        <li><a class="dropdown-item" href="logout">Log out</a></li>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</nav>
<br>

<!-- About Section -->
<div class="text-center">
    <h3 class="text-center">About us, The Food People</h3><br>
    <img src="https://www.frankfurt-university.de/fileadmin/_processed_/6/3/csm_Campus_Frankfurt_UAS_Facebook_29721e3097.jpg" alt="Me" class="w3-image" style="display:block;margin:auto" width="800" height="533">
    <br>
    <div class="w3-padding-32">
        <h4><b>Advance Programming</b></h4>
        <h6><i>Group work by FRA UAS students under the supervision of Prof. Bremm on the subject of stores data analysis in the United States.</i></h6>
        <p></p>
    </div>
</div>
<hr>


<!-- !PAGE CONTENT! -->
<h3 class="text-center">Our Team</h3><br>



<div class="container">

    <div class="row row-cols-5" style="width:100%">
        <div class="col">
            <img src="https://biografia24.pl/wp-content/uploads/2013/03/468px-Brad_pitt_2020.jpg" alt="Pasta and Wine" style="width:100%">

        </div>
        <div class="col">
            <img src="https://static.kino.de/wp-content/uploads/2015/05/til-schweiger-bild.jpg" alt="Pasta and Wine" style="width:100%">

        </div>
        <div class="col">
            <img src="https://image.tmdb.org/t/p/w500/ilPBHd3r3ahlipNQtjr4E3G04jJ.jpg" alt="Pasta and Wine" style="width:100%">

        </div>
        <div class="col">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Jim_Carrey_2008.jpg/640px-Jim_Carrey_2008.jpg" alt="Pasta and Wine" style="width:100%">

        </div>
        <div class="col">
            <img src="https://upload.wikimedia.org/wikipedia/commons/e/e8/Chris_Hemsworth_by_Gage_Skidmore_2_%28cropped%29.jpg" alt="Pasta and Wine" style="width:100%">

        </div>
        <div class="col">
            <h3>Andreas Kranz</h3>
            <p>Responsible for backend, database deployment and management, communication between frontend and backend, security, JavaScript and data analysis.</p>
        </div>
        <div class="col">
            <h3>Gracjan Sikora</h3>
            <p>Responsible for frontend, primer for filter functionalities, design, JavaScript and documentation.</p>
        </div>
        <div class="col">
            <h3>Delos Joel Herold</h3>
            <p>Main Javascript functionality. Implementation of Google Maps API and ChartJs. Programming of the Sentiment Analysis. Login and register with Spring Security.</p>
        </div>
        <div class="col">
            <h3>Patryk Rypinski</h3>
            <p>Responsible for planning, management, design, layouts and documentation.</p>
        </div>
        <div class="col" >
            <h3>Simon Carmesin</h3>
            <p>Responsible for backend, data analysis, database management, design functionalities, animations</p>
        </div>
    </div>
</div>

<hr>
</body>
</html>