<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="module" th:src="@{/js/franchise.js}"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


</head>
<body>

    <div id="data"></div>
    <canvas id="barChart10"></canvas>
    <div id="inputEachScore"></div>
    <div id="inputBestCity"></div>
    <div id="inputBestReviewCount"></div>
    <div id="inputWorstReviewCount"></div>
    <div id="inputCategories"></div>



    <table>
        <tbody>
        <tr>
            <td id="1">&nbsp;</td>
            <td id="11">&nbsp;</td>
        </tr>
        <tr>
            <td id="2">&nbsp;</td>
            <td id="22">&nbsp;</td>
        </tr>
        <tr>
            <td id="3">&nbsp;</td>
            <td id="33">&nbsp;</td>
        </tr>
        <tr>
            <td id="4">&nbsp;</td>
            <td id="44">&nbsp;</td>
        </tr>
        <tr>
            <td id="5">&nbsp;</td>
            <td id="55">&nbsp;</td>
        </tr>
        </tbody>
    </table>

    <table>
        <tbody>
        <tr>
            <td id="91"></td>
            <td id="911"></td>
        </tr>
        <tr>
            <td id="92">&nbsp;</td>
            <td id="922">&nbsp;</td>
        </tr>
        <tr>
            <td id="93">&nbsp;</td>
            <td id="933">&nbsp;</td>
        </tr>
        <tr>
            <td id="94">&nbsp;</td>
            <td id="944">&nbsp;</td>
        </tr>
        <tr>
            <td id="95">&nbsp;</td>
            <td id="955">&nbsp;</td>
        </tr>
        </tbody>
    </table>


    <table>
        <tbody>
        <tr>
            <td id="81"></td>
            <td id="811"></td>
        </tr>
        <tr>
            <td id="82">&nbsp;</td>
            <td id="822">&nbsp;</td>
        </tr>
        <tr>
            <td id="83">&nbsp;</td>
            <td id="833">&nbsp;</td>
        </tr>
        <tr>
            <td id="84">&nbsp;</td>
            <td id="844">&nbsp;</td>
        </tr>
        <tr>
            <td id="85">&nbsp;</td>
            <td id="855">&nbsp;</td>
        </tr>
        <tr>
            <td id="86"></td>
            <td id="866"></td>
        </tr>
        <tr>
            <td id="87"></td>
            <td id="877"></td>
        </tr>
        <tr>
            <td id="88"></td>
            <td id="888"></td>
        </tr>
        <tr>
            <td id="89"></td>
            <td id="899"></td>
        </tr>
        <tr>
            <td id="80"></td>
            <td id="800"></td>
        </tr>
        </tbody>
    </table>

</body>
</html>