<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script type="module" th:src="@{/js/index.js}"></script>
    <script type="module" th:src="@{/js/chart1.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<div id="map"></div>
<div id="test"></div>
<div id="filter"></div>
<div id="input"></div>

<div id="sideWindow1">
    <div id="sideWindow1inner"></div>
    <canvas id="chartWindow1" width="10%" height="10%"></canvas>
</div>

<div id="sideWindow2">
    <div id="sideWindow2inner"></div>
    <canvas id="chartWindow2" width="10%" height="10%"></canvas>


<div id="sideWindow3">
    <div id="sideWindow3inner"></div>
    <canvas id="chartWindow3" width="10%" height="10%"></canvas>
</div>

    <!--
<canvas id="chart1" width="50%" height="50%"></canvas>
<canvas id="chart2" width="50%" height="50%"></canvas>

-->

<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA40cGYwJwf8sG2QdRAWO0eTzACUsnJYpc&callback=initMap&v=weekly"
        async
></script>


</body>
</html>
