<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <script type="module" th:src="@{/js/index.js}"></script>
    <script type="module" th:src="@{/js/chart1.js}"></script>
    <script type="module" th:src="@{/js/index.js}"></script>
    <script type="module" th:src="@{/js/suggestions.js}"></script>

    <script type="module" th:src="@{static/js/filterJS.js}"></script>

    <script th:src="@{/js/filterJS.js}"></script>
    <script th:src="@{/js/suggestions.js}"></script>
    <script th:src="@{/js/index.js}"></script>


    <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA40cGYwJwf8sG2QdRAWO0eTzACUsnJYpc&callback=initMap&v=weekly"
            async
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>


</head>
<body>

<div id="map"></div>
<div id="test"></div>
<div id="filter">
    <button class="openButton" onclick="openForm()">Open Form</button>

    <div class="loginPopup">
        <div class="formPopup" id="popupForm">
            <a class="close" onclick="closeForm()">&times;</a>
            <form class="formContainer">
                <h2>Filter</h2>

                <label for="stars">Stars:</label>
                <select name="stars" id="stars">
                    <option value="1.0">1.0</option>
                    <option value="1.5">1.5</option>
                    <option value="2.0">2.0</option>
                    <option value="2.5">2.5</option>
                    <option value="3.0">3.0</option>
                    <option value="3.5">3.5</option>
                    <option value="4.0">4.0</option>
                    <option value="4.5">4.5</option>
                    <option value="5.0">5.0</option>
                </select>

                <div>
                    <label for="Name">Name</label>
                    <input type="text" id="name" name="name">
                </div>

                <div>
                    <label for="State">State:</label>
                    <select name="State" id="State" onclick="fillDropdown()">
                    </select>
                </div>

                <div>
                    <label for="City">City:</label>
                    <input type="text" id="City" name="City">
                </div>

                <div>
                    <label for="PLZ">Postal code:</label>
                    <input type="text" id="PLZ" name="PLZ" maxlength="6" onkeypress="return rescticteAlphabet(event)"/>
                </div>

                <div>
                    <label for="kategorie">Cotegory:</label>
                    <input type="text" name="category" id="kategorie"/>
                    <ul id="suggestionsKa"></ul>
                </div>

                <div>
                    <label for="atribute">Attribute:</label>
                    <input type="text" name="attribute" id="atribute"/>
                    <ul id="suggestionsAt"></ul>
                </div>


                <button type="button" onclick="searchText()">Send to Controller</button>
            </form>
        </div>
    </div>
</div>
<div id="input"></div>
<canvas id="testChart"></canvas>
<canvas id="testBar"></canvas>


<p id="demo"></p>


<div id="sideWindow1">
    <div id="sideWindow1inner"></div>
    <canvas id="chartWindow1"></canvas>


</div>

<div id="sideWindow2">
    <div id="sideWindow2inner"></div>
    <canvas id="chartWindow2"></canvas>
</div>

<div id="sideWindow3">
    <div id="sideWindow3inner"></div>
    <canvas id="chartWindow3"></canvas>
</div>


<!--
<canvas id="chart1" width="50%" height="50%"></canvas>
<canvas id="chart2" width="50%" height="50%"></canvas>

-->


</body>
</html>
