<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <script th:src="@{/js/filterJS.js}"></script>
    <script type="module" th:src="@{/js/filterJS.js}"></script>

    <script th:src="@{/js/index.js}"></script>
    <script type="module" th:src="@{/js/index.js}"></script>

    <script th:src="@{/js/suggestions.js}"></script>
    <script type="module" th:src="@{/js/suggestions.js}"></script>

</head>
<body>


<div class="container">
    <button onclick="fillDropdown()">Test</button>

    <button onclick="fillDropdown()" id="XXX">Populate</button>
    <button onclick="fillDropdown()">Test</button>

    <select id="1"></select>
    <select id="2"></select>

</div>
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
<script>

    function fillDropdown() {
        console.log("Check1")
        //let btnPopulate = document.querySelector('button');
        let select = document.querySelector('select');
        //let fruits = ['Banana', 'Grapes', 'Kiwi', 'Mango', 'Orange'];
        let fruits = states;

        let options = fruits.map(fruit => `<option value=${fruit.toLowerCase()}>${fruit}</option>`).join('\n');
        document.getElementById("2").innerHTML = options;


    }


    data(SaratogaHouses, package="mosaicData")

    # select numeric variables
    df <- dplyr::select_if(SaratogaHouses, is.numeric)

    # calulate the correlations
    r <- cor(df, use="complete.obs")
    round(r,2)
</script>


</body>
</html>
